<?xml version="1.0" encoding="UTF-8"?>

<!-- TODO: logback으로 사용하기 -->
<configuration status="debug">

  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %5p [%c] %m%n"/>
    </Console>

    <RollingFile name="file" fileName="./logs/file/all.log"
      filePattern="./logs/file/$${date:yyyy}/$${date:MM}/all_%d{yyyyMMddHH}.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
      </Policies>
    </RollingFile>
  </Appenders>

  <loggers>
    <root level="debug" additivity="true">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </root>
  </loggers>

</configuration>