<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://127.0.0.1:33020/yoony_board_v2"/>
        <property name="username" value="root"/>
        <property name="password" value="system1"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/ArticleMapper.xml"/>
    <mapper resource="mapper/CategoryMapper.xml"/>
    <mapper resource="mapper/CommentMapper.xml"/>
    <mapper resource="mapper/FileMapper.xml"/>
  </mappers>
</configuration>