<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.servlet.yoony.category.CategoryDAO">
  <resultMap id="categoryResultMap" type="com.board.servlet.yoony.category.CategoryDTO">
    <id property="categoryId" column="category_id"/>
    <result property="name" column="name"/>
  </resultMap>
  <select id="selectCategoryList" resultMap="categoryResultMap">
    SELECT category_id, name
    FROM category
    ORDER BY category_id ASC
  </select>
</mapper>