<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.servlet.yoony.file.FileDAO">
  <parameterMap id="fileParameterMap" type="com.board.servlet.yoony.file.FileDTO"/>
  <resultMap id="fileResultMap" type="com.board.servlet.yoony.file.FileDTO">
    <id property="fileId" column="file_id"/>
    <result property="articleId" column="article_id"/>
    <result property="fileOriginName" column="file_origin_name"/>
    <result property="fileSaveName" column="file_save_name"/>
    <result property="fileType" column="file_type"/>
    <result property="filePath" column="file_path"/>
    <result property="createdDate" column="created_date"/>
  </resultMap>
  <insert id="insertFile" parameterMap="fileParameterMap">
    INSERT INTO article_file
    (article_id, file_origin_name, file_save_name, file_type, file_path)
    VALUES (#{articleId}, #{fileOriginName}, #{fileSaveName}, #{fileType}, #{filePath})
  </insert>
  <select id="selectFileList" resultMap="fileResultMap" parameterType="int">
    SELECT file_id, article_id, file_origin_name, file_type, created_date
    FROM article_file
    WHERE article_id = #{articleId}
  </select>
  <select id="selectFile" resultMap="fileResultMap" parameterType="Map">
    SELECT file_id, article_id, file_origin_name, file_save_name, file_type, file_path, created_date
    FROM article_file
    WHERE file_id = #{fileId}
      AND article_id = #{articleId}
  </select>
  <select id="selectFileCount" resultType="int" parameterType="int">
    SELECT COUNT(file_id)
    FROM article_file
    WHERE article_id = #{articleId}
  </select>
  <select id="selectFileExist" resultType="boolean" parameterType="int">
    SELECT EXISTS(SELECT 1
                  FROM article_file
                  WHERE article_id = #{articleId}
                  LIMIT 1) as is_file_exist
  </select>
  <delete id="deleteFile" parameterMap="fileParameterMap">
    DELETE
    FROM article_file
    WHERE file_id = #{fileId}
      AND article_id = #{articleId}
  </delete>
  <delete id="deleteAllFile" parameterType="int">
    DELETE
    FROM article_file
    WHERE article_id = #{articleId}
  </delete>
</mapper>